@charset "utf-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

}
::-webkit-scrollbar{
    width: 0px;
height: 0px;
}
img{
    width: 100vw;
}
a {
    display: block;
    text-align: center;
    background-color: #942020;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
}